/* Common Styles for both Desktop and Mobile */
body {
  display: flex;
  font-family: "freshpressbold", sans-serif;
  color: rgb(108, 106, 106);
  margin: 0;
  padding: 0;
}

#cart-container {
  border: solid black 1px;
  width: 100vw;
  height: 100vh;
}

li {
  list-style-type: none;
}

img {
  height: 15vh;
}

/* Header */
#titles {
  display: flex;
  align-items: center;
  background-color: #ff7d1bba;
  padding-bottom: 3vh;
}

h1 {
  padding-left: 3vw;
  color: #330000;
  font-size: 5vh;
}

#product_header {
  display: flex;
  border-bottom: solid gray 1px;
  padding-left: 0;

  padding-bottom: 1vw;
  font-size: 2vh;
}

#product_header > * {
  display: flex;
}

#package_product {
  align-self: flex-end;
}

#quantity {
  position: absolute;
  left: 58vw;
}

#price {
  position: absolute;
  left: 78vw;
}

#personal_infos {
  position: absolute;
  right: 4vw;
  font-family: "Helvetica, sans-serif";
  color: black;
  font-weight: bold;
  height: 100vh;
}

/* Main container */
#main-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

/* Cart section */
#package_container {
  display: flex;
  flex-direction: column;
}

.single-package {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1vw;
  border-bottom: dotted 1px gray;
}

.select-quantity {
  position: absolute;
  left: 60vw;
}

.selected_price {
  position: absolute;
  left: 80vw;
}

#cart_items {
  font-family: "Helvetica, sans-serif";
  color: black;
  padding-left: 28vw;
  padding-top: 2vh;
  font-size: 25px;
}

#total_price {
  font-family: "Helvetica, sans-serif";
  color: black;
  margin-top: 1vh;
  font-weight: bold;
  width: fit-content;
  align-self: center;
}

/* Client section */
#client_container {
  font-family: Helvetica, sans-serif;

  position: absolute;
  right: 1vw;
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
}

input {
  border: solid gray 1px;
  border-radius: 5px;
  color: gray;
  padding: 1vw;
  margin-inline: 1vw;
  margin-bottom: 5vh;
}

/* Order button */
.btn {
  font-family: Koulen;
  font-weight: 300;
  font-size: 29px;
  color: #fff;
  background-color: #000000;
  border: none;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 9px;
  transition: 169ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-transform: lowercase;
}

.btn:hover {
  transition: 169ms;
  background-color: #0800ff;
  color: #ffffff;
}

.button-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 20px; /* Adjust as needed */
}
